<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #60A56C;
}

h1 {
  color: white;
} 
p {
  color: white;
}
</style>
</head>
<body>

<h1>Lab 2</h1>
<p>This is just part 2, question 2.</p>

</body>
</html>

